.footer {
    background-color: #232F3E;
    color: white;
    line-height: 120%;
}
.btt-container {
    height: 50px;
    background-color: #37475A;
    margin-bottom: 40px;
}
.about-footer {
    background-color: #232F3E;
}
.about-footer-line {
    border-top: 1px solid #3a4553;
    margin-top: 40px;
    display: block;
}
.footer-paditem {
    margin-bottom: 30px;
}
.link-footer {
    background-color: #131A22;
}


#bt-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    font-size: 13px;
    line-height: 19px;
    text-align: center !important;
}


.box-link {
    display: inline-block;
    width: 150px;
    height: 100px;
    font-size: 90%;
}

.box-link a{
    text-decoration: none;
    color: rgb(227, 231, 240);
}
.box-link a:hover{
    text-decoration: underline;
}

.box-desc {
    color: rgb(164, 163, 163);
    font-size: smaller;
}

.footer-end {
    padding: 10px 0 30px;
    text-align: center;
    font-size: small;
    color: rgb(202, 202, 202);
}